extends layout

block content
	br
	center
		a(href='/leaderboard') Click here to see the leaderboard!
		p
	leftCol
		b
			u Most Recent Stories
		- games.each( function(game) {
			br
			br
			b By #{game.get("creator").id} and #{game.get("invitee").id}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
		- });
	rightCol
		b
			u Other Interesting Stories
		- games.each( function(game) {
			br
			br
			b By #{game.get("creator").id} and #{game.get("invitee").id}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p #{game.get("votes")} votes
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
		- });
