%p#notice= notice
%p
  %b First name:
  = @user.first_name
%p
  %b Email:
  = @user.email
%p
  %b Phone:
  = @user.phone
%p
  %b Password:
  = @user.password
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}