-# This form is for users to play the game and submit new sentences

= render :partial => "error_messages", :locals => { :resource => @story }

Game #{@story.number} with #{@story.partner(current_user)}


Turn #{@story.turn} of 6
%br
%br
Our story so far:
%br
%b= @story.sentences
%p

= form_tag("/stories/#{@story.id}", :method => "put") do
  = label_tag "Type the next line in the sentence.  You must use the word '#{@story.curr_constraint}'"
  = text_field_tag :sentence, nil, :placeholder => "Complete the sentence here...", :size => "10", :maxlength => 200
  = submit_tag "Add Sentence"
