-# TODO: This should be where user plays game and submits sentences

= render :partial => "error_messages", :locals => { :resource => @story }

Game #{@story.number} with #{@story.partner(current_user)}


Turn #{@story.turn} of 6
%p
= @story.turn
%p
= @story.sentences

-#You must use the word '#{@story.constraints[@story.turn]}'.

= form_tag("/stories/#{@story.id}/update", :method => "put") do
  = label_tag "Type the next line in the sentence."
  = text_field_tag :sentence
  = submit_tag "Add Sentence"

= form_for @story, :url => "stories/#{@story.id}/update" do |f|
  .field
    = f.label :sentences
    %br/
    = f.text_field :sentences
  .actions
    = f.submit