-# This form is for users to play the game and submit new sentences

= render :partial => "error_messages", :locals => { :resource => @story }

Game #{@story.number} with #{@story.partner(current_user)}


Turn #{@story.turn} of 6
%p
= @story.sentences

-#You must use the word '#{@story.constraints[@story.turn]}'.

= form_tag("/stories/#{@story.id}", :method => "put") do
  = label_tag "Type the next line in the sentence."
  = text_field_tag :sentence
  = submit_tag "Add Sentence"
