<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :turn %><br />
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :sentences %><br />
    <%= f.text_area :sentences %>
  </div>
  <div class="field">
    <%= f.label :constraints %><br />
    <%= f.text_area :constraints %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
