-# Lobby, showing list of current games
%h1 Current games
%table
- @stories.each do |story|
  %tr
    Game #{story.number} with #{story.users[0].first_name == current_user.name ? story.users[1].first_name : story.users[0].first_name}
    %td= story.sentences
    %td= link_to 'Play', "/stories/#{story.id}/edit"
    %td= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete
    %p
%br/
= link_to 'Start a new game', new_story_path