<h1>Listing stories</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Turn</th>
    <th>Sentences</th>
    <th>Constraints</th>
    <th>First User</th>
    <th>Second User</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%=  story.users[0] %></td>
    <td><%=  story.users[1] %></td>
    <td><%= story.number %></td>
    <td><%= story.turn %></td>
    <td><%= story.sentences %></td>
    <td><%= story.constraints %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
