%section.sign_up
  -#
    %p
    Sign-in using:
    %p
    = link_to "/auth/facebook" do
      = image_tag 'sign_up_facebook.png'
    %p
    = link_to "/auth/twitter" do
      = image_tag 'sign_up_twitter.png'
    %p
  %p
  = form_for :newuser, :url => :manual_login do |f|
    .field
      = f.label :email
      %br/
      = f.text_field :email
    .field
      = f.label :password
      %br/
      = f.text_field :password
    .actions
      = f.submit 'Login'
  %p
  Don't have an account? #{link_to 'Register', new_user_path}
  %p




